@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@400;700&family=Syne&display=swap');
/*
font-family: 'Lexend', sans-serif;
font-family: 'Syne', sans-serif;
*/

/****** Allgemein ******/

* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

main {
    display: grid;
    grid-template-columns: 40px 1fr 40px;
}
.page {
    grid-column-start: 2;
    grid-column-end: 3;
    padding: 10px 0 17px 0;
}

/****** Navigation ******/

header {
    padding: 17px 15px 15px 15px;
    background-color: #131313;
}

nav {
    display: grid;
    grid-template-columns: 1fr 300px 1fr;
    align-items: center;
    justify-content: center;
}

ul {
    grid-column-start: 2;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

nav ul {
    list-style: none;
    text-align: center;
}

nav a {
    text-decoration: none;
    color: #00b0af;
    width: 100%;
    font-family: 'Lexend', sans-serif;
    font-weight: 400;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

header img {
    aspect-ratio: 5588 / 1080;
    height: 40px;
    margin: 0;
}

/****** Texte ******/

 
h2, 
h3, 
h4, 
h5, 
h6 {
    color: #131313;
    font-family: 'Lexend', sans-serif;
    font-weight: 400;
    margin: 15px 0;
}

h1 {
    color: #131313;
    margin: 17px 0 15px 0;
    font-family: 'Lexend', sans-serif;
    text-align: left;
    font-weight: 700;
}
.home {
    color: #fff;
    background: rgba(0,176,175,1);
    width: 100vw;
    padding: 25vh 0 25vh 0;
    margin: 0;
    text-decoration: none;
}

.h1a {
    text-decoration: none;
    text-align: center;
}
.h1a h1 {
    text-align: center;
}

p {
    color: #131313;
    font-family: 'Syne', sans-serif;
    font-weight: 400;
    margin: 0 0 15px 0;
}

main a {
    color: #00b0af;
    text-decoration: underline;
    font-family: 'Syne', sans-serif;
    font-weight: 400;
}

/****** Bilder ******/

img {
    width: 100%;
    margin: 0 0 20px 0;
    aspect-ratio: 1 / 1;
    object-fit: cover;
}

/****** Footer ******/

footer {
    background-color: #131313;
    display: grid;
    align-items: center;
    justify-content: center;
}

footer a {
    padding: 15px;
}

footer a img {
    margin: 0;
    height: 30px;
    width: auto;
    aspect-ratio: 5588 / 1080;
}