@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,400;1,500&display=swap');

/*
font-family: 'Raleway', sans-serif;
font-family: 'Ubuntu', sans-serif; 
 */

/****** Allgemein ******/

* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    transition: 0.3s;
}

html {
    scroll-behavior: smooth;
}

main {
    display: grid;
    min-height: calc(100vh - 105px - 82px);
    grid-template-columns: 40px 1fr 40px;
    align-content: start;
}
.page {
    grid-column-start: 2;
    grid-column-end: 3;
    padding: 10px 0 17px 0;
    max-width: 900px;
    margin: auto;
}

/****** Navigation ******/

header {
    padding: 17px 15px 15px 15px;
    background-color: #1f0033;
}

nav {
    display: grid;
    grid-template-columns: 1fr 300px 1fr;
    align-items: center;
    justify-content: center;
}

ul {
    grid-column-start: 2;
    display: grid;
    grid-template-columns: 90px 120px 90px;
}

nav ul {
    list-style: none;
    text-align: center;
}

nav a {
    text-decoration: none;
    color: #E4D1FF;
    width: 100%;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

header img {
    height: 40px;
    width: 40px;
    margin: 0;
}


.innernavigation {
    display: block;
    list-style: none;
}
.innernavigation a {
    text-decoration: none;
    color: #1f0033;
}

/****** Texte ******/

 
h2, 
h3, 
h4, 
h5, 
h6 {
    color: #131313;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
    margin: 15px 0;
}

h1 {
    color: #1f0033;
    font-size: 37px;
    margin: 17px 0 15px 0;
    font-family: 'Ubuntu', sans-serif;
    text-align: left;
    font-weight: 700;
}
.home {
    color: #fff;
    background: #E4D1FF;
    width: 100vw;
    padding: 15vh 0 15vh 0;
    margin: 0;
    font-size: 10vw;
    text-decoration: none;
}

.h1a {
    text-decoration: none;
    text-align: center;
    grid-column-start: 1;
    grid-column-end: 4;
    color: #1f0033;
    margin: 0;
    padding: 0;
}
.h1a h1 {
    text-align: center;
    color: #1f0033;
}

div, 
p {
    color: #131313;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    margin: 0 0 15px 0;
}

main a {
    color: #E4D1FF;
    text-decoration: underline;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
}

/****** Bilder ******/

img {
    width: 100%;
    margin: 0 0 20px 0;
    aspect-ratio: 16 / 9;
    object-fit: cover;
}

/****** Contact Form ******/

form {
    background-color: #1f0033;
    padding: 15px;
    margin-bottom: 17px;
    border-radius: 10px;
}

.block {
    width: calc(100% - 15px);
    padding: 7px;
    margin-bottom: 17px;
    background-color: #fff;
    border: 7px ;
    border-radius: 3px;
}

input, 
textarea {
    font-family: 'Syne', sans-serif;
    color: #1f0033;
}

textarea {
    resize: vertical;
}

::placeholder {
    color: #1f0033;
}

.submit {
    transition: 0.3s;
    width: 100%;
    border: none;
    padding: 10px;
    border-radius: 7px;
    background-color: #fff;
}
.submit:hover {
    transition: 0.3s;
    border-radius: 0;
    border-radius: 10px 0 10px 0;
}

/****** Footer ******/

footer {
    background-color: #1f0033;
    display: grid;
    align-items: center;
    justify-content: center;
}

footer a {
    padding: 15px;
    display: grid;
    grid-template-columns: 1fr 30px 160px 1fr;
    column-gap: 10px;
    align-items: center;
    justify-content: center;
    justify-items: center;
    text-decoration: none;
}

footer a img {
    grid-column-start: 2;
    margin: 0;
    height: 30px;
    width: 30px;
}

footer a h3 {
    grid-column-start: 3;
    text-decoration: none;
}

/****** responsive ******/

@media screen and (max-width: 850px) {
    main img {
        aspect-ratio: 1 / 1;
      }
    .home {
        font-size: 73px;
    }
}