@import url('../css/switzer.css');
@import url('../css/boska.css');


/*
``` 
font-family: 'Boska-Variable';
font-family: 'Boska-VariableItalic';
font-family: 'Boska-Extralight';
font-family: 'Boska-ExtralightItalic';
font-family: 'Boska-Light';
font-family: 'Boska-LightItalic';
font-family: 'Boska-Regular';
font-family: 'Boska-Italic';
font-family: 'Boska-Medium';
font-family: 'Boska-MediumItalic';
font-family: 'Boska-Bold';
font-family: 'Boska-BoldItalic';
font-family: 'Boska-Black';
font-family: 'Boska-BlackItalic';
``` 
font-family: 'Switzer-Variable';
font-family: 'Switzer-VariableItalic';
font-family: 'Switzer-Thin';
font-family: 'Switzer-ThinItalic';
font-family: 'Switzer-Extralight';
font-family: 'Switzer-ExtralightItalic';
font-family: 'Switzer-Light';
font-family: 'Switzer-LightItalic';
font-family: 'Switzer-Regular';
font-family: 'Switzer-Italic';
font-family: 'Switzer-Medium';
font-family: 'Switzer-MediumItalic';
font-family: 'Switzer-Semibold';
font-family: 'Switzer-SemiboldItalic';
font-family: 'Switzer-Bold';
font-family: 'Switzer-BoldItalic';
font-family: 'Switzer-Extrabold';
font-family: 'Switzer-ExtraboldItalic';
font-family: 'Switzer-Black';
font-family: 'Switzer-BlackItalic';
```
 */



 /***Allgemein***/

* {
    padding: 0;
    margin: 0;
    color: #1F1F1F;
    position: relative;
    z-index: 100;
}

html {
    background-color: #E7DDFE;
    overflow-x:hidden;
}

p, a, strong, em {
    font-family: 'Switzer-Light';
    font-size: 20px;
}

h1,
h2,
h3,
h4 {
    font-family: 'Boska-Medium';
    font-weight: 700;
    margin-bottom: 30px;
}

h1 {
    font-size: 60px;
}

h2 {
    font-size: 60px;
}

h3 {
    font-size: 30px;
}


div {
    overflow: hidden;
}

.margin-top {
    margin-top: 30px;
}

.block {
    display: block;
    width: calc(100% - 102px);
    border-radius: 37px;
    border: #1F1F1F solid 1px;
    padding: 15px 50px;
    margin-bottom: 30px;
    font-family: 'Boska';
    font-size: 20px;
}

/***Navigation***/
header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    padding: 50px 0;
}

nav {
    grid-column-start: 2;
    height: 50px;
    background: #ffffffbb 0% 0% no-repeat padding-box;
    border-radius: 37px;
    backdrop-filter: blur(7px);
    -webkit-backdrop-filter: blur(7px);
}

nav ul {
    display: flex;
    height: 50px;
    justify-content: center;
    align-items: center;
    list-style: none;
}

nav a {
    width: 200px;
    padding: calc((50px - 24px) / 2) 50px;
    border-radius: 25px;
    text-align: center;
    text-decoration: none;
    font-family: 'Boska-Medium';
    font-size: 20px;
}

nav .active {
    background-color: #E7DDFE;
}

nav a:active {
    color: #1F1F1F;
}


/***HeaderBild***/

#header-background {
    height: 100vh;
    width: 100vw;
    background-image: url(../pictures/background.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 90;
}


/***Body***/

body {
    background-color: #E7DDFE;
}

.search-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-center input {
    max-width: 1000px;
    width: calc(100% - 200px);
    margin: 70px;
    padding: 15px 50px;
    background-color: #fff;
    border-radius: 33px;
    box-shadow: 1px 3px 17px #00000029;
    border: none;
    background: #ffffffbb 0% 0% no-repeat padding-box;
    backdrop-filter: blur(7px);
    -webkit-backdrop-filter: blur(7px);
    margin: calc((100vh - 203px) / 2 - 73px) 70px 0 70px;
    font-family: Boska;
    font-size: 20px;
}
::placeholder {
    color: #1F1F1F;
}

/***MedienDarstellung***/
.max-width {
    margin-top: calc((100vh - 203px) / 2 - 73px) !important;
}
     
.display-flex {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

.display-flex h1 {
    margin: 0 15px 0 0;
}

#medien-atribute,
#nutzer-atribute {
    width: 100%;
    margin-bottom: 30px;
    display: flex;
}

#medien-atribute h3,
#nutzer-atribute h3 {
    margin-bottom: 0;
}

#medien-atribute p, 
#nutzer-atribute {
    margin-bottom: 15px;
}

.rechts {
    width: 50%;
}

.links {
    width: 50%;
}

/***Medienliste***/
.medien-liste-element {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 150px;
    grid-template-rows: 100px 1px;
}

button,
.button {
    transition: 0.3s;
    background-color: #E7DDFE;
    border: none;
    border-radius: 37px;
    font-family: 'Boska-Medium';
    font-size: 20px;
    height: 50px;
    width: 150px;
}

button:hover,
.button:hover {
    transition: 0.3s;
    border: #1F1F1F 1px solid;
}

.medien-liste-element hr {
    grid-row-start: 2;
    grid-column-start: 1;
    grid-column-end: 3;
}

.medien-titel {
    display: flex;
    align-items: center;
}
.medien-titel h3 {
    margin: 0 10px 0 0;
}

main,
.search-center {
    max-width: 100vw;
}

/***Footer***/
footer,
main {
    display: flex;
    justify-content: center;
    align-items: center;
}

footer div,
.max-width {
    max-width: 1000px;
    width: calc(100% - 200px);
    margin: 70px;
    margin-top: 0;
    background-color: #fff;
    border-radius: 33px;
    padding: 50px 100px;
    box-shadow: 1px 3px 17px #00000029;
}
